.fullevent.check-in {
	color: ##6BE293;
}

.buttons {
	margin: 1px;
}

.fullevent {
	margin: 3% auto;
	width: 60%;
}

/* Popup */
.popup {
	background-color: #DADADA;
	background-color: red;
	position: fixed;
	left: 50%;

	margin: 2% auto;
}
