.fullevent.check-in {
	color: ##6BE293;
}

.buttons {
	margin: 1px;
}

.fullevent {
	margin: 3% auto;
	width: 60%;
}

/* Popup */
.popup {
	background-color: #DADADA;
	position: fixed;
	left: 25%;
	width: 50%;

	margin: 0 auto;
}

.close-btn {
	position: fixed;
	right: 25%;
	background-color: red;
}

.classes.input {
	background-color: red;
}

.checkin-button {
	position: relative;
	left: 2%;
}